@import "tailwindcss";

div > button {
    color: red;
    font-size: 20px;
    width: 30px;
    height: 30px;
    text-align: center;
    justify-content: center;
    line-height: normal;
    cursor: pointer;
    background-color: turquoise;
    border: 2px solid black;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

div > span {
    margin-left: 20px;
    margin-right: 20px;
}